body  {
    background-image: url("https://cdn140.picsart.com/340079636018201.gif?to=min&r=640");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}body  {
    background-image: url("https://cdn140.picsart.com/340079636018201.gif?to=min&r=640");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}